


body {background-color: rgb(154, 161, 224); font-family: 'Roboto', sans-serif; color: rgb(255, 255, 255); line-height: 1.6;}

header {background: linear-gradient(125deg,rgb(156, 77, 187),rgb(218, 82, 161)); margin-top: 25px ;margin-left: 250px;margin-right: 250px;border-radius: 12px}

h1, h2, h3 { font-family: 'Orbitron', sans-serif;} h1 {margin-left: 40%;}

nav {background-color: rgb(245, 176, 85);padding: 10px; text-align: center; border-radius: 15px;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:xx-large;} nav a {text-decoration: none;color: #ffffff;} nav a:hover {background-color:chocolate; border-radius: 6px}

.index-header {position: relative; top: -15px}

main h2, main h3 {text-align: center;}

body p {text-align: center; font-size: larger;}

.image-row {display: flex;justify-content: center;gap: 200px; margin-top: 40px;}

.image-row img {width: 350px;height: 470px;border-radius: 8px;box-shadow: 0 40px 80px rgba(0,0,0,0.2);transition: transform 0.5s ease;}

.image-row img:hover {transform: scale(1.15)}

.index-footer {position: relative; top: 15px; background-color:rgb(179, 144, 212);}   

footer{position:relative;top: -15px;background-color:rgb(179, 144, 212);}

iframe {display: block; margin: 20px auto;}

.gallery-flex {display: flex; gap: 260px; justify-content: center; align-items: center;margin-top: 380px;}

.game-row {display: flex; align-items: center; justify-content: center; width: 640px;}

.viewport {overflow: hidden; width: 640px; height: 360px;}

.track {position: relative; left: 0; transition: left 0.3s ease; display: flex;} .track img {flex: 0 0 640px; height: 360px; object-fit: cover; cursor: pointer;}

button.prev, button.next {background: #8656e0;color: #dcc6ff;border: none;font-size: 2.5em; padding: 0 15px;cursor: pointer; z-index: 10; position: relative;left: 300px;} button.prev:hover, button.next:hover {background: #5120ac;}

.info-text {color: white;font-size: 1.2em;position: relative; top: 15px;background-color: rgb(70, 207, 77);}

.gallery-header h1 {position: relative; left: 50px;}

.gallery-titles {display: flex; justify-content: space-between; text-align: center; margin: 20px 0;}

.gallery-headerTWO  {font-family: 'Orbitron', sans-serif; font-size: 24px; letter-spacing: 2px; margin-bottom: -400px;margin-top: -40px;width: 30%;}

.galleryh2-paragraph {max-height: 300px; overflow-y: auto; padding: 10px; margin-bottom: 40px; background-color: rgba(76, 132, 158, 0.24); border-radius: 8px;}

.section-description {font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 1.4;}


